<!DOCTYPE html>
<html>
    <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script type="text/javascript">
    var ajax = null;
  
    function doAction(){
        var input = document.getElementById("input1");
        var callback = function(){
            var target = document.getElementById("msg");
            var res = JSON.parse(ajax.getResponse());
            console.log(res);
            target.textContent = "you send::" + res.msg;
        }
        ajax = new AjaxObject('/helo?input1=' + 
            input.value,callback);
    }
 
    function AjaxObject(url,callback){
        var response = null;
        var callback = callback;
          
        ajaxStart(url);
 
        this.getResponse = function(){
            return response;
        }
          
        function ajaxStart(url){
            var req =  createRequest();
            if (req == null){
                alert("実行できません！");
                return;
            }
            req.open("POST",url);
            req.setRequestHeader
                ("User-Agent","XMLHttpRequest");
            req.onreadystatechange = function(){
                if (this.readyState == 4 && 
                        this.status == 200){
                    precallback(this);
                }
            }
            req.send();
        }
          
        function createRequest(){
            var httplist = [
                function(){
                    return new XMLHttpRequest();
                },
                function(){
                    return new ActiveXObjct
                        ("Msxml2.XMLHTTP");
                },
                function(){
                    return new ActiveXObject
                        ("Microsoft.XMLHTTP");
                }
            ];
            for(var i = 0;i < httplist.length;i++){
                try {
                    var http = httplist[i]();
                    if (http != null) return http;
                } catch(e){
                    continue;
                }
            }
            return null;
        }
          
        function precallback(request){
            response = request.responseText;
            callback();
        }
    }
    </script>
</head>
<body onload="init()">
    <h1><%= title %></h1>
    <p id="msg"><%= msg %></a>
    <form id="form1" name="form1" method="post" action="/helo"
            onsubmit="return false;">
        <input type="text" id="input1" name="input1"
            value="<%= input %>">
        <input type="button" id="btn" value="click"
            onclick="doAction();">
    </form>
</body>
</html>